.app-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: var(--nav-height);
    background-color: #1e1f24;
    color: #fff;
    box-shadow: 1px 1px 5px 0 #1e1f24;
    opacity: 0.8;
}

.app-header-navbar {
    display: flex;
    height: 100%;
}

.app-header-navbar__item {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.app-header-navbar__item:last-child {
    padding-right: 0;
}

.app-header-navbar__item:hover {
    background-color: #000;
}

.app-header-link {
    color: #fff;
    text-decoration: none;
}
